@import '../../scss/variables';

.icon {
  background: $lighter-black;
  border: none;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;

  &-symbol {
    font-size: 40px;
    position: relative;
    top: -4px;
  }

  &-flavor {
    font-size: 12px;
  }

  &:hover {
    background: $lightest-black;
  }

  .copied-indicator {
    position: absolute;
    top: 10px;
    left: 30px;
    background: rgb(69, 105, 95);
    color: $black;
    font-size: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
