.copy-again {
  display: flex;
  align-items: center;

  span {
    margin-right: 16px;
  }

  &-list {
    .icon {
      flex: 1 auto;
      width: 40px;
      height: unset;
      border-radius: 6px;
      margin-right: 8px;
      margin-bottom: 0;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }

      &-symbol {
        font-size: 24px;
        top: 7px;
      }

      &-flavor {
        display: none;
      }
    }
  }
}
