@import '../../scss/variables';

@keyframes float {
  50% {
    transform: translateY(-7px);
  }
}

.icon-browser-container {
  margin-top: 103px;
  height: calc(100vh - 130px);
  width: 100%;
  position: relative;

  .nada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;

    .astronaut {
      position: absolute;
      left: 35%;
      top: -30%;
      animation: float 2s ease-in-out infinite;
    }

    .message {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
    }
  }
}
